{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>{{ user.username }} 的關注列表</h4>
                </div>
                <div class="card-body">
                    {% if following %}
                        <div class="row">
                            {% for followed_user in following %}
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ followed_user.username }}</h5>
                                            <a href="{% url 'profile' followed_user.id %}" class="btn btn-primary btn-sm">查看資料</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>還沒有關注任何用戶。</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 